* {
    padding: 0;
    margin: 0;
    border: 0;
}

QMainWindow{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #FFFFFF,
        stop: 1.0 #A0A0A0);
}

QDialog{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #FFFFFF,
        stop: 1.0 #BC8F8F);
}

.QFileDialog{}

QLineEdit{
    color: #282828;
    background-color: rgba(0,0,0,0);
    padding: 10px 0px 10px 0px;
    font-size: 18px;
}

QLineEdit#student_edit{
    background-color: #9ACD32;
    min-width: 240px;
    max-width: 240px;
}

QLineEdit#marks_edit{
    background-color: #FFFFFF;
}

QLineEdit#pw, QLineEdit#pw_top, QLineEdit#pw_bot{
    padding: 0;
    margin: 0;
    color: #F0F0F0;
    font-size: 12px;
    background-color: #282828;
    min-width: 206px;
    max-width: 206px;
    min-height: 24px;
    max-height: 24px;
}

QLabel{
    padding: 12px 0px 20px 0px;
}

.MenuFrame{
    min-width: 392px;
    max-width: 392px;
    min-height: 250px;
    max-height: 250px;
}

.MenuButton{
    color: #F0F0F0;
    background-color: #505050;
    padding: 4px 0px 0px 0px;
    qproperty-iconSize: 24px 24px;
    font-size: 12px;
    border: none;
    height: 48px;
    width: 98px;
}

.MenuButton:pressed{
    background-color: #282828;
}

.StudentListView{
    background-color: rgba(0,0,0,0);
    min-width: 392px;
    max-width: 392px;
}

QScrollBar#student_scroll{
    width: 0px;
}

.TestListView{
    background-color: rgba(0,0,0,0);
    min-height: 250px;
    max-height: 250px;
}

QScrollBar#test_scroll{
    height: 0px;
}

.MarksTableView{
    font-size: 16px;
    background-color: rgba(0,0,0,0);
}

.Insert{
    background-color: tomato;
    min-height: 100px;
    min-width: 100px;
}

QPushButton{
    height: 30px;
    min-width: 100px;
    max-width: 100px;
    background-color: white;
    color: #282828;
}

QPushButton:hover:!pressed{
  background-color: #282828;
  color: white;
}

QScrollBar:horizontal {
    border: none;
    height: 8;
    background: rgba(0,0,0,0);
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background: #505050;
}
QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:horizontal {
    background: none;
}
QScrollBar::add-line:horizontal {
    border: none;
    background: none;
    width: 0;
}
QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    width: 0;
}

QScrollBar:vertical {
    border: none;
    width: 8;
    background: rgba(0,0,0,0);
    margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
    background: #505050;
}
QScrollBar::sub-page:vertical {
    background: none;
}
QScrollBar::add-page:vertical {
    background: none;
}
QScrollBar::add-line:vertical {
    border: none;
    background: none;
    height: 0;
}
QScrollBar::sub-line:vertical {
    border: none;
    background: none;
    height: 0;
}
